<mat-nav-list>
  <a  mat-list-item (click)="openLink(1,$event)">
    <i class="fa fa-whatsapp fa-2x"></i>
    <span mat-line>Whatsapp</span>
  </a>
  <a mat-list-item (click)="openLink(2,$event)">
    <i class="fa fa-telegram fa-2x"></i>
    <span mat-line>Telegram</span>
  </a>
  <a mat-list-item (click)="openLink(3,$event)">
    <i class="fa fa-twitter fa-2x"></i>
    <span mat-line>Twitter</span>
  </a>
  <a mat-list-item (click)="openLink(4,$event)">
    <i class="fa fa-copy fa-2x"></i>
    <span mat-line>Copy link</span>
  </a>
</mat-nav-list>
