<mat-toolbar color="primary">
  <button routerLink="/" mat-button>Aakarshan</button>
  <span class="flex-fill"></span>
  <button *ngIf="!afAuth.isLoggedIn" mat-button routerLink="/register">Register</button>
  <button *ngIf="!afAuth.isLoggedIn" mat-button routerLink="/login">Login</button>
  <mat-icon class="pointer" *ngIf="afAuth.isLoggedIn" [matMenuTriggerFor]="menu">more_vert</mat-icon>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile">
      <mat-icon color="accent">face</mat-icon>
      Profile
    </button>
    <button (click)="afAuth.logout()" mat-menu-item>
      <mat-icon color="warn">logout</mat-icon>
      Logout
    </button>
  </mat-menu>
</mat-toolbar>
<router-outlet></router-outlet>
