<mat-card class="m-2 rounded">
  <img class="rounded-circle shadow" mat-card-image [src]="artist.photoURL" alt="Artist Profile Pic">
  <mat-card-content>
    <h1>{{artist.displayName}}</h1>
    <p>{{artist.postCount}} Posts till Now</p>
    {{artist.year}} {{artist.branch}} {{artist.section}}
  </mat-card-content>
  <mat-card-actions>
    <button matTooltip="Email for Custom Arts" color="primary" (click)="mail('mailto:'+artist.email)" mat-button>
      Contact
    </button>
    <button matTooltip="Share Profile" color="apccent" mat-button>Share</button>
  </mat-card-actions>
</mat-card>
