<h1 mat-dialog-title>Upload New Post</h1>
<mat-card *ngIf="!loading else spinner" mat-dialog-content>
  <mat-card-header class="mb-3">
    <img mat-card-avatar [src]="authService.getOwner.photoURL" alt="">
    <mat-card-title *ngIf="authService.getOwner.displayName else wrong">
      {{authService.getOwner.displayName}}
    </mat-card-title>
  </mat-card-header>
  <img *ngIf="previewImage else holder" (click)="fileInput.click()" mat-card-image [src]="previewImage"
       alt="Post Image">

  <ng-template #holder>
    <div (click)="fileInput.click()" class="holder">
      <img class="align-self-center text-center justify-content-center p-3 w-100 m-0" src="/assets/upload.svg" alt="">
    </div>
  </ng-template>

  <input #fileInput (change)="fileSelected($event)" type="file" style="display: none">
  <mat-card-content class="w-100">
    <mat-form-field appearance="outline" class="w-100">
      <mat-label>Write about Your Art</mat-label>
      <textarea [(ngModel)]="post.content" rows="4" matInput></textarea>
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Image Maximum size limit is 5 MB</mat-hint>
    </mat-form-field>
  </mat-card-content>
</mat-card>
<ng-template #spinner>
  <div class="row justify-content-center text-center">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
  <h6 class="text-center m-3">{{status}}</h6>
</ng-template>
<div mat-dialog-actions>
  <!--  <button [disabled]="loading" color="primary" (click)="BugMe()" mat-flat-button>Log</button>-->
  <button [disabled]="!everythingIsCool()||loading" color="primary" (click)="onUpload()" mat-button mat-flat-button>
    Upload
  </button>
  <mat-error class="small ml-2 mr-2" *ngIf="original">Uploading takes longer time (Unstable)</mat-error>
  <span class="flex-fill"></span>
  <mat-checkbox labelPosition="before" color="primary" [(ngModel)]="original">Extreme Quality</mat-checkbox>
</div>
<ng-template #wrong>
  <p class="alert-warning">Something went Wrong</p>
</ng-template>
