.center-cropped {
  object-fit: fill; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
  /*height: 500px;*/
  width: 100%;
}

.holder {
  width: 100%;
  border: 3px dotted lightslategray;
}
