<mat-progress-bar *ngIf="loading" class="m-1" color="warn" mode="indeterminate"></mat-progress-bar>
<div class="row">
  <span class="flex-fill"></span>
  <mat-icon (click)="dialogRef.close()" class="pointer">close</mat-icon>
</div>
<div class="container">
  <div class="row">
    <div class="justify-content-center p-3 m-3">
      <div class="row">
        <div class="col-sm">
          <img alt="" class="card-img-top" src="./assets/logo.jpg">
        </div>
        <div class="w-100 text-center col-sm align-items-center">
          <mat-form-field class="w-100">
            <input #email autofocus matInput placeholder="Username" required type="email">
          </mat-form-field>
          <mat-form-field (keyup.enter)="login(email.value,password.value)" class="w-100">
            <input #password matInput placeholder="Password" required type="password">
          </mat-form-field>
          <br>
          <button (click)="login(email.value,password.value)" (keyup.enter)="login(email.value,password.value)"
                  color="primary"
                  mat-flat-button
                  type="button">Login
          </button>
          <button class="mt-3 w-100" color="accent" mat-flat-button routerLink="/register">Register</button>
        </div>
      </div>
    </div>
  </div>
</div>
