<div class="container" *ngIf="post as p">
  <div class="row justify-content-center mt-3">
    <!--    <mat-spinner *ngIf="loading" mode="indeterminate"></mat-spinner>-->
  </div>

  <mat-card>
    <mat-card-content>
      <div class="row">
        <div *ngIf="p.imageURL" class="col-sm-12 col-lg-6 col-md-12 col-xl-6">
          <img class="w-100" [src]="p.fullSize?p.fullSize:p.imageURL" alt="">
        </div>
        <div class="col-sm-12 col-lg-6 col-md-12 col-xl-6 mt-3">
          <mat-card-header>
            <img class="pointer" [routerLink]="['/profile',p.owner.uid]"
                 mat-card-avatar src="{{p.owner.photoURL}}"
                 alt="">
            <mat-card-title class="pointer" [routerLink]="['/profile',p.owner.uid]">
              <h4>{{p.owner.displayName}}</h4>
            </mat-card-title>
            <span class="flex-fill"></span>
            <mat-icon *ngIf="p.owner.uid==auth.getUid" [matMenuTriggerFor]="delete">more_vert</mat-icon>
            <mat-menu #delete="matMenu">
              <button mat-menu-item>
                <mat-icon color="warn">delete</mat-icon>
                Delete Post
              </button>
            </mat-menu>
          </mat-card-header>
          <mat-card-content class="mt-3">
            <h6>{{p.content}}</h6>
          </mat-card-content>
          <mat-card-actions>
            <div class="row justify-content-around">
              <button (click)="pservice.thumbUp(p)" mat-button>
                <mat-icon [matBadge]="p.likes" matBadgeColor="primary" class="pointer">thumb_up</mat-icon>
              </button>
              <button (click)="pservice.sharePost(p)" mat-button>
                <mat-icon class="pointer">share</mat-icon>
              </button>
            </div>
          </mat-card-actions>
        </div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <div>
        <!--        Comments List-->
        <mat-list>
          <h3 mat-subheader> {{p.commentsCount}} Comments</h3>
          <mat-list-item *ngFor="let c of comments">
            <img [routerLink]="['/profile',c.owner.uid]" mat-list-icon [src]="c.owner.photoURL" alt="">
            <h5 mat-line>{{c.comment}}</h5>
            <p [routerLink]="['/profile',c.owner.uid]" class="text-info small" mat-line>{{c.owner.displayName}}</p>
            <span class="flex-fill"></span>
            <mat-icon class="pointer" [matMenuTriggerFor]="comntDelete" *ngIf="c.owner.uid==auth.getUid">more_vert
            </mat-icon>
            <mat-menu #comntDelete="matMenu">
              <button (click)="pservice.deleteComment(p,c)" mat-menu-item>
                Delete Comment
              </button>
            </mat-menu>
          </mat-list-item>
        </mat-list>
        <!--Comment Field-->
        <mat-form-field class="w-100 p-2" appearance="outline">
          <mat-label>Comment..</mat-label>
          <input #commentelement matInput type="text">
          <mat-icon (click)="pservice.postComment(commentelement,post)" class="pointer" matSuffix>send</mat-icon>
        </mat-form-field>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
