// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Aakarshan-v20-primary: mat-palette($mat-indigo);
$Aakarshan-v20-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Aakarshan-v20-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Aakarshan-v20-theme: mat-light-theme($Aakarshan-v20-primary, $Aakarshan-v20-accent, $Aakarshan-v20-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Aakarshan-v20-theme);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
.pointer {
  cursor: pointer;
}

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Aakarshan-primary: mat-palette($mat-orange, 500, 400, 600);
$Aakarshan-accent: mat-palette($mat-cyan, 800, 700, 900);

// The warn palette is optional (defaults to red).
$Aakarshan-warn: mat-palette($mat-red, 500, 400, 600);

// Create the theme object (a Sass map containing all of the palettes).
$Aakarshan-theme: mat-light-theme($Aakarshan-primary, $Aakarshan-accent, $Aakarshan-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($Aakarshan-theme);

/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//span {
//  word-wrap: break-word;      /* IE 5.5-7 */
//  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
//  white-space: pre-wrap;      /* current browsers */
//}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.face {
  border: solid black 2px;
  width: 100px;
  margin: 5px 5px 5px 5px;
  height: 100px;
}

.face:active {
  border: solid white 2px;
}

#message {
  background: white;
  max-width: 360px;
  margin: 100px auto 16px;
  padding: 32px 24px;
  border-radius: 3px;
}

#message h2 {
  color: #ffa100;
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 8px;
}

#message h1 {
  font-size: 22px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
  margin: 0 0 16px;
}

#message p {
  line-height: 140%;
  margin: 16px 0 24px;
  font-size: 14px;
}

#message a {
  display: block;
  text-align: center;
  background: #039be5;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  padding: 16px;
  border-radius: 4px;
}

#message,
#message a {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

#load {
  color: rgba(0, 0, 0, 0.4);
  text-align: center;
  font-size: 13px;
}

.myFab {
  position: fixed !important;
  top: auto;
  left: auto;
  bottom: 20px;
  z-index: 20;
  right: 20px;
}
