<mat-tab-group backgroundColor="primary" mat-stretch-tabs>
  <!--  Posts-->
  <mat-tab label="Posts">
    <div (scrollPosition)="homeScrolled($event)" appScrollable class="scrollable-2">
      <ng-template #login>
        <div class=" row justify-content-around mt-5">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                Login / Register
              </mat-panel-title>
              <mat-panel-description>
                To Upload Arts
              </mat-panel-description>
            </mat-expansion-panel-header>

            <div class="row justify-content-around">
              <button color="primary" mat-stroked-button routerLink="/login">Login</button>
              <button color="accent" mat-stroked-button routerLink="/register">Register</button>
            </div>
          </mat-expansion-panel>
        </div>
      </ng-template>
      <div class="container mt-5">
        <div *ngIf="auth.isLoggedIn else login" class="container">
          <mat-card (click)="openDialogBox()" class="rounded m-4 pointer ">
            Anything New ? 😃
            Post it Here.....
          </mat-card>
        </div>

        <div *ngIf="store.loadingP | async" class="row justify-content-center mt-5 mb-5">
          <app-spinner></app-spinner>
        </div>

        <div class=" mt-4 row justify-content-around mb-5">
          <div *ngFor="let post of store.posts$ | async" class="col-lg-4 col-md-6 col-sm-12 h-auto">
            <app-post [post]="post"></app-post>
          </div>
        </div>
        <div class="text-center">
          <p *ngIf="store.doneA |  async">No More Juice</p>
        </div>
        <!--      Mat Tab End-->
      </div>
    </div>


  </mat-tab>
  <!--  Artists-->
  <div *ngIf="store.loadingA | async" class="row justify-content-center mt-5 mb-5">
    <app-spinner></app-spinner>
  </div>
  <mat-tab label="Artists">
    <div (scrollPosition)="artistScrolled($event)" appScrollable class="scrollable-2">
      <mat-card class="rounded mt-5 pointer container">
        Liked Something ....? 😁
        Share or Contact that Artist
      </mat-card>
      <div class="container mt-5 mb-5">
        <div class="row justify-content-around">
          <div *ngFor="let artist of store.artist$ | async" class="col-lg-4 col-md-6 col-sm-12">
            <app-artist-card [artist]="artist"></app-artist-card>
          </div>
        </div>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
<button (click)="msg.requestPermission(auth.getUid)" class="myFab" mat-fab>
  <mat-icon color="#000000">notifications</mat-icon>
</button>

