name: Deploy to Firebase

on:
  push:
    branches: [master]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@master
      - uses: actions/setup-node@master
        with:
          node-version: 12
      - run: npm install
      - run: npm run build:prod
      - run: firebase target:apply hosting aakarshankmit aakarshankmit
#     Installing Firebase
      - run: curl -sL https://firebase.tools | bash
#     Customized Firebase Deploy with multiple domains
      - run: firebase target:apply hosting aakarshankmit aakarshankmit --token ${{ secrets.FIREBASE_TOKEN }}
      - run: firebase target:apply hosting aakarshan aakarshan --token ${{ secrets.FIREBASE_TOKEN }}
      - run: firebase target:apply hosting artclub artclub --token ${{ secrets.FIREBASE_TOKEN }}
      - run: firebase use --alias aakarshankmit --token ${{ secrets.FIREBASE_TOKEN }}
      - run: firebasse deploy --only hosting --token ${{ secrets.FIREBASE_TOKEN }}
