<div class="container">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Enable Notifications
        </mat-panel-title>
        <mat-panel-description>
          Let us send you notifications about new post Updates
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-slide-toggle (change)="checked($event)" [checked]="notifications">
        Enable
      </mat-slide-toggle>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Account Settings
        </mat-panel-title>
        <mat-panel-description>
          Manage or Delete your Account
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-slide-toggle [checked]="stayPosts">
        Let Your Posts Stay
      </mat-slide-toggle>
      <button (click)="deleteAccount()" mat-button color="warn">Delete My Account</button>
    </mat-expansion-panel>
  </mat-accordion>
</div>
